#carousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel"}

  / Carousel buttons
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel"}
    %span.icon-next
  / end Carousel buttons

  / Carousel slides
  .carousel-inner
    .item.active
      %h3 First slide label
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .item
      %h3 Second slide label
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .item
      %h3 Third slide label
      %p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
  / end carousel slides

/ Feeds
%ul.feeds.list-unstyled
  - @feeds.each do |feed|
    %li
      %h3= feed.title
      =image_tag feed.image unless feed.image.blank?
      %p= markdown(feed.body)
      %p=l feed.updated_at.to_date, format: :default

%p=link_to 'mais notícias', feeds_path

%i.fa.fa-chevron-up