/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */


// BG color
$body-bg: #EBEBEB;

// Grid
$grid-gutter-width:0;


// Typography
$font-family-base: 'Roboto', helvetica, arial, sans-serif;
$font-size-base: 10px;

$headings-font-family: 'Rokkitt';
$font-size-h1: $font-size-base * 5;
$font-size-h2: $font-size-base * 4;
$font-size-h3: $font-size-base * 3;
$font-size-h4: $font-size-base * 2;
$font-size-h5: $font-size-base * 1.5;

// Buttons
$btn-default-border: white;
$btn-default-bg: #ebebeb;


// Color
$link-color: black;

// Carousel indicators
$carousel-indicator-border-color: black;
$carousel-indicator-active-bg: black;


.container {background-color: #ffffff; min-height: 100%; height: 100%; -webkit-font-smoothing: antialiased; }

// Header
header {margin-bottom: 50px; }
#i18n {
  float: right; color: lightgray;
  a {color: lightgray}
}


// Nav
.nav {
  li {margin-bottom: 10px;}
  a:hover {text-decoration: none}
}


// Footer items
footer {margin-top: 50px;}
#main_footer {height: 185px;}
p#link_anchor {bottom: 0; position: absolute; height: 5px}
address {line-height: 1.25; font-style: normal; white-space: pre-line; margin-bottom: 30px; margin-top: 20px}
ul.social {
  margin-bottom: 25px; padding-left: 0;
  li {display: inline; padding: 0 10px 5px 0; }
  a {text-decoration: none; height: 15px }
}
.icon-margin i {margin-left: 5px;}

// Main items
ul.feeds li {margin-top: 30px}
.markdown {font-family: 'Ubuntu Mono', 'Roboto', helvetica, verdana, arial, sans-serif; font-size: 12px}

// System helper
.alert {margin-top: 30px}


// import original bootstrap
@import "twitter/bootstrap";
@import "responsive";



