.markdown {
  h1, h2 {margin-top: 50px}
  h4 {margin-top: 25px}
  p img  {padding: 40px 0 40px 0}
  p:nth-child(1) .center-block {padding: 0}

  .column-2 {
    width: 50%; margin-left: 50%;
    //img {float: right}
  }
}

/*LIGHTER*/
.lighter img {
  -webkit-filter: grayscale(.6) ;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.lighter img:hover {
  -webkit-filter: grayscale(0) ;
}


// Grid Projects MixItUp
ul#Grid {padding: 0}

#Grid {
  .mix{opacity: 0;display: none;}
  a {text-decoration: none;}
}

li.filter {cursor: pointer;}


// social links
#social_links {
  button {margin-right: 20px;}
  ul li {margin: 10px; width: 300px}
}


// Videos CSS hack responsive
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

