/*LIGHTER*/
.lighter img {
  height: 170px;
  -webkit-filter: grayscale(.6) ;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.lighter img:hover {
  -webkit-filter: grayscale(0) ;
}


.project {height: 190px; width: 275px}
.project_name {line-height: 15px; margin-bottom: 5px}
.project a {text-decoration: none;}


// social links
//#social_links {margin: 100px 0 145px 0;}
#social_links button {margin-right: 20px;}
#social_links ul li {margin: 10px; width: 300px}
