
// Grid Nav
#navGrid {
  margin-bottom: 50px;
  text-align: center;

  li{
    display: inline-block;
    margin-right: 40px;
    border-bottom: 1px dotted;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    a:hover {text-decoration: none}
  }


}

.project-name {padding: 5px 0 5px 0;}

// Grid Projects MixItUp
#Grid .mix{display: none;}

ul#Grid {
  padding: 0;
  a:hover { text-decoration: none}
}

li.filter {cursor: pointer;}

/*LIGHTER*/
.lighter {border: 1px dotted lightgray}
.lighter img {
  -webkit-filter: saturate(.3) ;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lighter img:hover {
 -webkit-filter: saturate(1);
}