//
//.btn-default:hover {background-color: #ebebeb; border-color: white}
//
//@mixin project($size) {
//  width: $size;
//  height: ($size / 3) * 2;
//}


/* Smartphones */
@media (max-width: $screen-xs-max) {
//  .container {padding: 10px;}
//  header {margin-bottom: 20px}
//  ul {margin-top: 20px;}
//  ul li,ul.nav li {display: inline; margin-left: 5px}
//  #main_footer {height: 80px;}
//
//
//  .lt-50 { width: 100%; margin-left: 0}

//  h1 {border-radius: 0; background-color: red; color: red}
  nav {float: none; text-align: center}

  ul#navGrid {
    padding: 0;
    li {margin-right: 5px;}
  }

  .one-col {width: 80% !important;}

  .two-col {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  article header h1 {
    font-size: 22px;
    padding: 0 5px 0 5px;
  }


}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
 //h1 {border-radius: 0; color: red}
//  // Main
//  .container {padding: 50px;}
//  .two-columns {min-height: 550px;}
//
//  // Projects
//  .lighter img {@include project(190px)}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

//  // Main
//  .container {padding: 50px;}
//  .two-columns {min-height: 450px;}
//
//
//  // Projects
//  .lighter img {@include project(195px)}
//  .project_name {margin-bottom: 0px}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

//  // Main
//  .container {padding: 50px; width: 1200px;}
//  .two-columns {min-height: 800px;}
//
//  // Projects
//  .lighter img {@include project(255px)}
//  .project_name {margin: 3px 0 3px 0}
}