= simple_form_for([@imageable, @image],:html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :url, as: :file, :input_html => { :multiple => true }

  %p
    É possível selecionar uma ou mais imagens.

  .form-actions
    = f.button :submit, 'SALVAR',  :class => 'btn btn-default'