- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{class: "pull-right alert alert-#{name == :notice ? "info" : "error"}"}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, msg, :id => "flash_#{name}"