%footer

  .row
    #description.col-lg-6.col-sm-12
      %p= image_tag 'valls.gif'
<<<<<<< HEAD
      //%p=t 'meta.description'
=======
>>>>>>> 2cc28358fc36c8c112a6ddcf9a26033278496e4a

  = t('copyright') + Time.now.year.to_s

  %ul.social.hidden-xs
    %li{:title => "facebook", "data-toggle" => "tooltip"}
      =link_to ENV['FACEBOOK_LINK'], :target => "_blank"  do
        %i.fa.fa-facebook.fa-lg
    %li{:title => "twitter", "data-toggle" => "tooltip"}
      =link_to ENV['TWITTER_LINK'], :target => "_blank" do
        %i.fa.fa-twitter.fa-lg
    %li{:title => "google+", "data-toggle" => "tooltip"}
      =link_to ENV['GOOGLE_PLUS_LINK'], :target => "_blank" do
        %i.fa.fa-google-plus.fa-lg
    %li{:title => "instagram", "data-toggle" => "tooltip"}
      =link_to ENV['INSTAGRAM_LINK'], :target => "_blank" do
        %i.fa.fa-instagram.fa-lg
    %li{:title => "pinterest", "data-toggle" => "tooltip"}
      =link_to ENV['PINTEREST_LINK'], :target => "_blank" do
        %i.fa.fa-pinterest.fa-lg
    %li{:title => "vimeo", "data-toggle" => "tooltip"}
      =link_to ENV['VIMEO_LINK'], :target => "_blank" do
        %i.fa.fa-vimeo-square.fa-lg

:javascript
  $("[data-toggle='tooltip']").tooltip();
