!!! 5
%html
  %head
    = render :partial => 'layouts/head'

  %body

    .container

      -##i18n
      -#  = link_to 'PT-BR', :locale=>'pt-BR'
      -#  |
      -#  = link_to 'ENG', :locale=>'en'

      = render :partial => 'layouts/flash_message'

      / Article
      %article

        = yield


      / Footer
      = render :partial => 'layouts/footer'